/*Addition of Roboto Font-Family*/

@font-face {
    font-family: Roboto;
    src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
}

/*Styling of Navbar*/

.topnav {
    background-color: #00365D;
    overflow: auto;
    justify-content: center;
    object-fit: cover;
    z-index: 2;
    position: fixed;
    margin-left: 15px;
}

/*Styling of Navbar Links*/

.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
    font-family: Roboto;
    font-weight: 100;
}

/*Styling of Hover in Navbar*/

.topnav a:hover {
    background-color: #3a6786;
    color: #ffffff;
}

/*Styling of Header Section */

.col-12 h1 {
  font-family: Roboto;
  text-align: left;
  font-weight: 100;
  padding-top: 100px;
  padding-bottom: 70px;
  color: white;

}

/* If the screen size is 875px wide or more, set the font-size of <h2> to 65px */
@media screen and (min-width: 993px) {
  .col-12 h1{
    font-size: 65px;
  }
}


/* If the screen size is 874px wide or less, set the font-size of <h2> to 45px */
@media screen and (max-width: 992px) {
  .col-12 h1{
    font-size: 48px;
  }
}

/* If the screen size is 615px wide or less, set the font-size of <h2> to 30px */
@media screen and (max-width: 768px) {
  .col-12 h1{
    font-size: 32px;
  }
}

/*Background Color Styling*/

.container-fluid {
  background-color: #21b258;
}

.col-12 h2 {
  text-align: center;
  padding-top: 35px;
  padding-bottom: 35px;
  font-family: Roboto;
  background-color: #1a502f;
  color: white;
}

.col-12 h4 {
  font-family: Roboto;
  font-weight: 100;
  padding: 35px;
}

/* If the screen size is 875px wide or more, set the font-size of <h2> to 65px */
@media screen and (min-width: 993px) {
  .col-12 h4{
    font-size: 45px;
  }
}


/* If the screen size is 874px wide or less, set the font-size of <h2> to 45px */
@media screen and (max-width: 992px) {
  .col-12 h4{
    font-size: 32px;
  }
}

/* If the screen size is 615px wide or less, set the font-size of <h2> to 30px */
@media screen and (max-width: 768px) {
  .col-12 h4{
    font-size: 24px;
  }
}

/*image styling*/

.img-fluid {
  width: 100%;
  padding-left: 35px;
  padding-right: 35px;
}

/*Footer Styling*/

.col-12 footer {
  height: 60px;
  background-color: #00365D;
  width: 100%;
  color: white;
  font-family: Roboto;
  text-align: center;
  padding-top: 18px;
  font-size: 16px;
}