/*Styling of NAVBAR*/

#topnav {
    background-color: #004545;
    z-index: 2;
    position: fixed;
    width: 100%;
    text-align: center;
    opacity: 90%;
}

/*Styling of NAVBAR LINKS*/

#topnav a {
    color: #f6f3e0;
    padding-top: 25px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 25px;
    text-decoration: none;
    font-family: Roboto;
    font-weight: 200;
    background-color: #004545;
}

/*Styling of NAVBAR HOVER*/

#topnav a:hover {
    background-color: #8AFFFF;
    color: #000000;
    font-weight: 500;
    opacity: 70%;
}

/*Styling of ABOUT RESPONSIVE TEXT*/

@media screen and (min-width: 1007px) {
    .col-sm-12 a {
        font-size: 21px;
    }
  }



@media screen and (max-width: 1006px) {
    .col-sm-12 a {
        font-size: 18px;
    }
  }
  

  @media screen and (max-width: 800px) {
    .col-sm-12 a {
        font-size: 16px;
    }
  }


/*Styling of INTRO container*/

.col-lg-6 h1 {
    text-align: center;
    font-family: roboto;
}

span{
    font-family: montserrat;
    color: aqua;
}

/*Styling of INTRO SECTION RESPONSIVE TEXT*/


@media screen and (min-width: 1007px) {
    .col-lg-6 h1 {
      font-size: 92px;
      padding-top: 4%;
      padding-bottom: 4%;
    }
  }


@media screen and (max-width: 1006px) {
    .col-lg-6 h1 {
      font-size: 72px;
      padding-top: 4%;
      padding-bottom: 4%;
    }
  }
  

  @media screen and (max-width: 800px) {
    .col-lg-6 h1 {
      font-size: 36px;
      padding-top: 4%;
      padding-bottom: 4%;
    }
  }

/*Styling of ABOUT TEXT*/

.col-12 p {
    font-family: roboto;
    font-weight: 100;
}

/*Styling of ABOUT RESPONSIVE TEXT*/

@media screen and (min-width: 1007px) {
    .col-12 p {
      font-size: 42px;
      padding-top: 5%;
      padding-bottom: 5%;
      padding-right: 25%;
      padding-left: 25%;
    }
  }



@media screen and (max-width: 1006px) {
    .col-12 p {
      font-size: 28px;
      padding: 5%;
    }
  }
  

  @media screen and (max-width: 800px) {
    .col-12 p {
      font-size: 18px;
      padding: 5%;
    }
  }
